:root {
    /* Color */
    --clr-violett-100: hsl(270, 3%, 87%);
    --clr-violett-200: hsl(279, 6%, 55%);
    --clr-violett-500: hsl(278, 94%, 30%);
    --clr-violett-900: hsl(278, 68%, 11%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-red-500: hsl(0, 100%, 66%);
    --clr-blue-500: hsl(249, 99%, 64%);
    /* Font */
    --fs-100: 0.75rem;
    --fs-200: 0.8125rem;
    --fs-300: 0.875rem;
    --fs-400: 0.9375rem;
    --fs-500: 1rem;
    --fs-600: 1.125rem;
    --fs-700: 1.25rem;
    --fs-800: 1.5rem;
    --fs-900: 2rem;
    /* Margin */
    --mb-100: 1rem;
    --mb-200: 1.5rem;
    --mb-300: 2rem;
    --mb-400: 2.5rem;
    --mb-500: 3rem;
}

  /* Utility Class */

  .mb-100 {
    margin-bottom: var(--mb-100);
  }

  .mb-200 {
    margin-bottom: var(--mb-200);
  }

  .mb-300 {
    margin-bottom: var(--mb-300);
  }

  .mb-400 {
    margin-bottom: var(--mb-400);
  }

  .mb-500 {
    margin-bottom: var(--mb-500);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
}

body {
    min-width: 375px;
    max-height: 100vh;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    position: absolute;
    border: 0;
    overflow: hidden;
}

.app {
    min-height: 100vh;
}

.card__displayer {
    width: 31%;
    min-height: 100vh;
    position: relative;
    background-image: url("../images/bg-main-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    width: 100%;
    height: 15.3rem;
    position: absolute;
    font-size: var(--fs-300);
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--clr-white);
    border-radius: 0.625rem;
}

.card_front {
    padding: 2rem;
    left: 30%;
    top: 20%;;
    background-image: url("../images/bg-card-front.png");
    background-size: cover;
}

.card__number {
  font-size: 1.125rem;
  font-size: clamp(1.125rem, 0.9049295774647887rem + 0.9389671361502347vw, 1.75rem);
  font-weight: normal;
}

.card_front p {
  display: flex;
  justify-content: space-between;
}